.css-1czkris {
  background-color: #333;
}
.css-15qof0d {
  background-color: #fe772330;
  color: #fe7723;
}
.css-lh1eih {
  background-color: #4f4f4f;
}
.css-1o0if1b {
  background-color: #f5f5f5;
}
